@import "../../Modules/variables.modules";

.pink {
  color: $pink;
}

.green {
  font-weight: bold;
  color: #00BB40;
}

.text {
  color: #0C0C0C;
  font-weight: bold;
}

.skills {
  columns: 1;
  @media only screen and (min-width: 940px) {
    columns: 2;
  }

  li {
    margin: 0;
    line-height: 1.75;
  }
}
